* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    /* font-family: 'Merriweather Sans', sans-serif; */
    text-align: left;
    line-height: 1.4;
}

@media only screen and (max-width: 768px){
main {
    height: 1850px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 8%;
    background-color: rgb(172, 172, 172);
}

.nav-span {   
    font-size: 20px;     
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: rgb(196, 124, 255);
}

header {
    padding-top: 18%;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
}

.header-text {
    margin-top: 0;
}

#nick {
    display: inline-block;
    position: relative;
    align-items: center;
    background-image: url(https://i.imgur.com/6xRM6gT.jpg);
    height: 180px;
    width: 48%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid grey;
    border-top: 1px solid rgb(124, 96, 168, .80);
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
}


h1 {
    font-size: 24px;
    margin-top: 0;
}

section {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 4%;
    padding-top: 4%;
    font-size: 16px;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 10px;
}

.project-pic {
    background-image: url(https://i.imgur.com/PQd45sw.png);
    height: 170px;
    width: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    margin-left: 10%;
    margin-bottom: 2%;
}

.project-link {
    text-decoration: none;
    color: white;
}


.lavender { 
    background-color: rgb(124, 96, 168, .70);
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    height: 60px;
    background-color: rgb(172, 172, 172);
}

h2 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 4%;
}

#contact {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.contact {
    padding: 0;
}

.contact::after {
    content: "  ➣";
}

.footer-img {
    height: 40px;
    width: 40px;
}

.email-link {
    text-decoration: none;
    color: black;
}

.email-link:hover{
    color: rgb(196, 124, 255);
}



}

@media only screen and (min-width: 768px){

main {
    height: 1750px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 6%;
    background-color: rgb(172, 172, 172);
    border-bottom: 2px solid rgb(124, 96, 168);
}

.nav-span {
    font-size: 20px;     
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: rgb(124, 96, 168);
}

header {
    padding-top: 10%;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
}

.header-text {
    margin-top: 0;
    padding-left: 25%;
    padding-right: 25%;
    
}

#nick {
    display: inline-block;
    position: relative;
    align-items: center;
    background-image: url(https://i.imgur.com/6xRM6gT.jpg);
    height: 240px;
    width: 48%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid grey;
    border-top: 1px solid rgb(124, 96, 168, .80);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}


h1 {
    font-size: 24px;
    margin-top: 0;
}

section {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 4%;
    padding-top: 4%;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}

article {
    padding-left: 8%;
    padding-right: 8%;
}

.project-article {
    padding: 0;
    width: 66%;
}

.project-pic {
    background-image: url(https://i.imgur.com/PQd45sw.png);
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    margin-left: 20%;
}

.project-link {
    text-decoration: none;
    color: white;
}

.project-article {
    margin-top: 4%;
}

.lavender { 
    background-color: rgb(124, 96, 168, .70);
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    height: 80px;
    background-color: rgb(172, 172, 172);
}

h2 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 4%;
}

#contact {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.contact {
    padding: 0;
}

.contact::after {
    content: "  ➣";
}

.footer-img {
    height: 40px;
    width: 40px;
    padding-top: 4%;
}

.email-link {
    text-decoration: none;
    color: black;
}

.email-link:hover{
    color: rgb(196, 124, 255);
}

}
@media only screen and (min-width: 992px){

main {
    height: 2100px;
}
   
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 8%;
    background-color: rgb(172, 172, 172);
    border-bottom: 2px solid rgb(124, 96, 168);
}
    
.nav-span {
        
    font-size: 20px;     
    
}
    
.nav-link {
    text-decoration: none;
    color: white;
}
    
.nav-link:hover {
    color: rgb(124, 96, 168);
}
    
header {
    padding-top: 12%;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
}
    
.header-text {
    margin-top: 0;
    padding-left: 25%;
    padding-right: 25%;
        
}
    
#nick {
    display: inline-block;
    position: relative;
    align-items: center;
    background-image: url(https://i.imgur.com/6xRM6gT.jpg);
    height: 300px;
    width: 48%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid grey;
    border-top: 1px solid rgb(124, 96, 168, .80);
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}
    
    
h1 {
    font-size: 24px;
    margin-top: 0;
}
    
section {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 4%;
    padding-top: 4%;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}

article {
    padding-left: 8%;
    padding-right: 8%;
}

.project-pic {
    background-image: url(https://i.imgur.com/PQd45sw.png);
    height: 450px;
    width: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    margin-left: 12%;
}

.project-link {
    text-decoration: none;
    color: white;
}
    
.lavender { 
    background-color: rgb(124, 96, 168, .70);
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    height: 60px;
    background-color: rgb(172, 172, 172);
}

h2 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 4%;
}

#contact {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.contact {
    padding: 0;
}

.contact::after {
    content: "  ➣";
}

.footer-img {
    height: 40px;
    width: 40px;
}

.email-link {
    text-decoration: none;
    color: black;
}

.email-link:hover{
    color: rgb(196, 124, 255);
}

}